
.ordnung1 {
    position: absolute;
    left: 1%;
    top: 0;
    width: 18%;
    height: 99%;
    background-color: white;
    border-style: solid;
}

.ordnung1 a h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

#generationchange {
    position: absolute;
    left: 0;
    top: 95%;
}

#gw_berechnung {
    position: absolute;
    left: 0;
    top: 90%;
}

#wirkstofflegend {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#wirkstoffselect {
  position: absolute;
  top: 21%;
  left: 0;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
}

#anwendunglegend {
  position: absolute;
  top: 31%;
  left: 0;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#scalelegend {
  position: absolute;
  top: 37%;
  left: 10%;
  width: 80%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
}

#scale1 {
  width: 100%;
}

#min1 {
  position: absolute;
  top: 37.5%;
  left: 5%;
  width: 5%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#max1 {
  position: absolute;
  top: 37.5%;
  left: 92%;
  width: 5%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#range1 {
  position: absolute;
  top: 42%;
  left: 0%;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#range1_1 {
  position: absolute;
  top: 48%;
  left: 0%;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#abbaulegend {
  position: absolute;
  top: 58%;
  left: 0%;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#klaeranlagelegend {
  position: absolute;
  top: 64%;
  left: 0%;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#klaeranlageselect {
  position: absolute;
  top: 70%;
  left: 0%;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
}

#gewaesserlegend {
  position: absolute;
  top: 80%;
  left: 0%;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#gewaesserselect {
  position: absolute;
  top: 86%;
  left: 0%;
  width: 100%;
  height: 5%;
  transform-origin: 0% 0%;
  background-color: white;
}

.ordnung2 {
    position: absolute;
    left: 20%;
    top: 0;
    width: 39%;
    height: 99%;
    background-color: white;
    border-style: solid;
}

#wirkstoff {
    overflow-y: scroll
}

#gewaesser {
    overflow-y: scroll
}

.ordnung3 {
    position: absolute;
    left: 60%;
    top: 0;
    width: 39%;
    height: 99%;
    background-color: white;
    border-style: solid;
}

#canvas1 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

#anwendung1 {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 20%;
  transform-origin: 0% 20%;
  background-color: white;
}

#anwendungsbeschreibung {
  position: absolute;
  top: 20%;
  left: 0;
  transform-origin: 0% 20%;
  background-color: white;
}

#anwendungsbeschreibung2 {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 20%;
  transform-origin: 0% 20%;
  background-color: white;
}

#anwendungsbeschreibung2_1 {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 20%;
  transform-origin: 0% 20%;
  background-color: white;
}

#min2 {
  position: absolute;
  bottom: 1%;
  left: 8%;
  height: 25%;
  width: 2%;
  margin: 0;
  padding: 0;
  transform-origin: 0% 20%;
  background-color: white;
}

#scaleanwendung {
  position: absolute;
  bottom: 2%;
  left: 10%;
  height: 25%;
  width: 40%;
  transform-origin: 0% 20%;
  background-color: white;
}

#scale2 {
  width: 100%;
}

#max2 {
  position: absolute;
  bottom: 1%;
  left: 51%;
  height: 25%;
  width: 2%;
  margin: 0;
  padding: 0;
  transform-origin: 0% 20%;
  background-color: white;
}

#range2 {
  position: absolute;
  bottom: 27%;
  left: 70%;
  height: 25%;
  width: 30%;
  margin: 0;
  padding: 0;
  transform-origin: 0% 20%;
  background-color: white;
}

#range2_1 {
  position: absolute;
  bottom: 2%;
  left: 70%;
  height: 25%;
  width: 30%;
  margin: 0;
  padding: 0;
  transform-origin: 0% 20%;
  background-color: white;
  z-index: 2;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas1_1 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

#vergleichbev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.durchschnitt {
    stroke: rgb(255, 0, 0);
    stroke-width: 2;
}

.durchschnitttext {
    stroke: rgb(255, 0, 0);
}

#abbaubeschreibung {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 20%;
    transform-origin: 0% 20%;
    background-color: white;
}

#abbaubeschreibung2 {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 20%;
    transform-origin: 0% 20%;
    background-color: white;
}

#canvas2 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 50%;
    height: 60%;
    transform-origin: 0% 20%;
    background-color: white;
}

.abbau1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 85%;
    width: auto;
    transform-origin: 0% 20%;
}

#abbtext {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
}

#canvas2_1 {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50%;
    height: 60%;
    transform-origin: 0% 20%;
    background-color: white;
}

.abbau2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 85%;
    width: auto;
    transform-origin: 0% 20%;
}

#nabbtext {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
}

#canvas2_2 {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
    transform-origin: 0% 20%;
    background-color: white;
}

.abbau3 {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 25%;
    transform-origin: 0% 20%;
}

#vermtext {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 10%;
}

.abbautext {
    margin: 0;
    padding: 0;
    text-align: center;
}

#canvas2_3 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 40%;
    transform-origin: 0% 20%;
    background-color: white;
}

#nicht_abgebaut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vomKoerper_abgebautbar {
    fill: none;
    stroke: black;
}

.vomKoerpernicht_abgebautbar {
    fill: black;
    stroke: black;
}

#canvas2_4 {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    transform-origin: 0% 20%;
    background-color: white;
}

#imabwasser {
    position: absolute;
    top: 0;
    left: 3%;
    width: 100%;
    height: 100%;
}

#klaeranlageliste {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: 0% 20%;
    background-color: white;
    overflow-y: scroll
}

#imkoerp {
    position: absolute;
    top: 20%;
    left: 0;
    width: 20%;
    height: 5%;
    transform-origin: 0% 20%;
    background-color: white;
    border-style: none;
    margin: 0;
}

#imabw {
    position: absolute;
    top: 60%;
    left: 0;
    width: 20%;
    height: 5%;
    transform-origin: 0% 20%;
    background-color: white;
    border-style: none;
    margin: 0;
}

.imabwasser {
  fill: darkblue;
}

#canvas3_1 {
    position: absolute;
    left: 0;
    width: 100%;
    transform-origin: 0% 20%;
    background-color: white;
}

#resultbeschreibung {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 20%;
  transform-origin: 0% 20%;
  background-color: white;
}

#resultbeschreibung2 {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 20%;
  transform-origin: 0% 20%;
  background-color: white;
}

#Anlnicht_abgebaut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vonAnlage_abgebautbar {
    fill: none;
    stroke: darkblue;
}

.vonAnlagenicht_abgebautbar {
    fill: darkblue;
    stroke: darkblue;
}


#canvas4 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

.vergleich1 {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 45%;
    width: auto;
    transform-origin: 0% 20%;
}

#modtext {
    position: absolute;
    top: 1%;
    left: 10%;
    width: 35%;
    height: 4%;
}

.vergleich2 {
    position: absolute;
    top: 55%;
    left: 10%;
    height: 45%;
    width: auto;
    transform-origin: 0% 20%;
}

#grzwtext {
    position: absolute;
    top: 51%;
    left: 10%;
    width: 35%;
    height: 4%;
}

.vergleich3 {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 34%;
    height: 20%;
    transform-origin: 0% 20%;
}

#vergltext {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 34%;
    height: 4%;
}

.vergltext {
    margin: 0;
    padding: 0;
}

#canvas4_1 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

#restwert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.restwert {
  fill: blue;
}

.grenzwert {
    stroke: rgb(255, 0, 0);
    stroke-width: 2;
}

.grenzwerttext {
    stroke: rgb(255, 0, 0);
}

p {
    color: green;
}

a:link {
    text-decoration: none;
}

.selectlegendlink h2 {
    background-color: grey;
}

.selectwirkstoff {
    background-color: grey;
}

.selectanlage {
    background-color: grey;
}

.selectgew {
    background-color: grey;
}
