
@font-face {
    font-family: 'CalibreWeb-Bold';
    src: url(../fonts/CalibreWeb-Bold.eot);
    src: url(../fonts/CalibreWeb-Bold.eot?#iefix) format('embedded-opentype');
    src: url(../fonts/CalibreWeb-Bold.woff);
    /*src: url(/fonts/CalibreWeb-Bold.woff2);*/
}

@font-face {
    font-family: 'CalibreWeb-Light';
    src: url(../fonts/CalibreWeb-Light.eot?#iefix) format('embedded-opentype');
    src: url(../fonts/CalibreWeb-Light.eot);
    src: url(../fonts/CalibreWeb-Light.woff);
    /* src: url(/fonts/CalibreWeb-Light.woff2);*/
}

@font-face {
    font-family: 'CalibreWeb-LightItalic';
    src: url(../fonts/CalibreWeb-Light.eot?#iefix) format('embedded-opentype');
    src: url(../fonts/CalibreWeb-LightItalic.eot);
    src: url(../fonts/CalibreWeb-LightItalic.woff);
    /* src: url(/fonts/CalibreWeb-LightItalic.woff2);*/
}

.ordnung1 {
    position: absolute;
    left: 1%;
    top: 0;
    width: 18%;
    height: 99%;
    background-color: white;
    z-index: 1;
    top: -60px;
}

.ordnung1 h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
}

#generationchange {
    position: absolute;
    left: 0;
    top: 95%;
    font-size: 18px;
}

#gw_berechnung {
    position: absolute;
    left: 0;
    top: 90%;
}

#wirkstofflegend {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#wirkstoffselect {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
}

#anwendunglegend {
    position: absolute;
    top: 31%;
    left: 0;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#scalelegend {
    position: absolute;
    top: 37%;
    left: 10%;
    width: 80%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
}

#min1 {
    position: absolute;
    top: 37.5%;
    left: 0%;
    width: 10%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#max1 {
    position: absolute;
    top: 37.5%;
    left: 90%;
    width: 10%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#range1 {
    position: absolute;
    top: 42%;
    left: 0%;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#range1_1 {
    position: absolute;
    top: 48%;
    left: 0%;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#abbaulegend {
    position: absolute;
    top: 58%;
    left: 0%;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#klaeranlagelegend {
    position: absolute;
    top: 64%;
    left: 0%;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#klaeranlageselect {
    position: absolute;
    top: 71%;
    left: 0%;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
}

#gewaesserlegend {
    position: absolute;
    top: 80%;
    left: 0%;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#gewaesserselect {
    position: absolute;
    top: 86%;
    left: 0%;
    width: 100%;
    height: 5%;
    transform-origin: 0% 0%;
    background-color: white;
}

.ordnung2 {
    position: absolute;
    left: 20%;
    top: 60px;
    width: 39%;
    height: 92%;
    border-style: solid;
}

#beschreibung {
    position: absolute;
    left: 20%;
    top: 0;
    width: 39%;
    height: 99%;
    border-style: solid;
    background-color: white;
}

.ordnung3 {
    position: absolute;
    left: 60%;
    top: 0;
    width: 39%;
    height: 93.9%;
    background-color: white;
    top: -60px;
}

#anwendung {
    position: absolute;
    top: 0;
    width: 47%;
    left: 3%;
    height: 5%;
    transform-origin: 0% 20%;
    background-color: white;

    margin: 0;

}

#canvas1 {
    position: absolute;
    top: 5%;
    left: 0;
    height: 45%;
    width: 50%;
    transform-origin: 0% 20%;
    background-color: white;
}

.circle {
    position: absolute;
    height: 100%;
    width: auto;
}

#canvas1_1 {
    position: absolute;
    top: 5%;
    left: 0;
    width: 50%;
    height: 45%;
    transform-origin: 0% 20%;
    background-color: white;
    border-top-style: none;
}

#vergleichbev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.durchschnitt {
    stroke: #b74f46;
    stroke-width: 2;
}

.durchschnitttext {
    stroke: #b74f46;
}

#abbau {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 5%;
    transform-origin: 0% 20%;
    background-color: white;
    border-left-style: solid;
    margin: 0;
}

#imabw {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 5%;
    transform-origin: 0% 20%;
    background-color: white;
    border-top-style: solid;
    margin: 0;
}

#klaeranlage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 5%;
    transform-origin: 0% 20%;
    background-color: white;
    border-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    margin: 0;
}

#canvas2 {
    border-left-style: solid;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    transform-origin: 0% 20%;
    background: #ffffff url("../img/Human_body_silhouette.svg") no-repeat 50% 0%;
    background-size: contain;
}

.abbau1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: auto;
    transform-origin: 0% 20%;
}

#abbtext {
    position: absolute;
    top: 0%;
    left: -3px;
    width: 100%;
    height: 10%;
}

#canvas2_1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 20%;
    background-color: white;
    border-top-style: solid;
}

.abbau2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: auto;
    transform-origin: 0% 20%;
}

#nabbtext {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 10%;
}

#canvas2_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform-origin: 0% 20%;
    background-color: white;
    border-top-style: solid;
    border-left-style: solid;
    background: #ffffff url(../img/Anlage.png) no-repeat 0 65%;
    background-size: contain;
}

.abbau3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: auto;
    transform-origin: 0% 20%;
}

#vermtext {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 10%;
}

.abbautext {
    margin: 0;
    padding: 0;
    text-align: center;
}

#canvas2_3 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 50%;
    height: 45%;
    transform-origin: 0% 20%;
    background-color: white;
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#nicht_abgebaut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vomKoerper_abgebautbar {
    fill: none;
    stroke: black;
}

.vomKoerpernicht_abgebautbar {
    fill: black;
    stroke: black;
}

#canvas2_4 {
    position: absolute;
    top: 57%;
    left: 0;
    width: 50%;
    height: 43%;
    transform-origin: 0% 20%;
    background-color: white;
    border-top-style: none;
}

#imabwasser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imabwasser {
    fill: #5d7696;
}

#canvas3_1 {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 50%;
    height: 45%;
    transform-origin: 0% 20%;
    background-color: white;
    border-left-style: solid;

}

#Anlnicht_abgebaut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vonAnlage_abgebautbar {
    fill: none;
    stroke: darkblue;
}

.vonAnlagenicht_abgebautbar {
    fill: #5d7696;
    stroke: #5d7696;
}

#canvas4 {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}
@media screen and (max-width: 1600px) {
    #canvas4 {
        top: 21%;
    }
}
.vergleich1 {
    position: absolute;
    top: 7%;
    left: 0;
    width: auto;
    height: 45%;
    transform-origin: 0% 20%;
}

#modtext {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 35%;
    height: 4%;
}

.vergleich2 {
    position: absolute;
    top: 76%;
    left: 0;
    width: auto;
    height: 45%;
    transform-origin: 0% 20%;
}
@media screen and (max-width: 1600px) {
    .vergleich2 {
        top: 78%;
    }
}
#grzwtext {
    position: absolute;
    top: 70%;
    left: 0;
    width: 39%;
    height: 4%;
    border-top: 3px solid #e2dcd7;
    padding: 0 0 15px 0;
}
@media screen and (max-width: 1600px) {
    #grzwtext {
        width: 50%;
    }
}
.vergleich3 {
    position: absolute;
    top: 53%;
    right: 3%;
    width: 34%;
    height: 20%;
    transform-origin: 0% 20%;
}

#vergltext {
    position: absolute;
    top: 53%;
    right: 20%;
    width: 80%;
    height: 4%;
}

.vergltext {
    margin: 0;
    padding: 0;
}

#canvas4_1 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0% 20%;
    background-color: white;
}

#restwert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
}

.restwert {
    fill: #5d7696;
}

.grenzwert {
    stroke: #b65048;
    stroke-width: 2;
}

.grenzwerttext {
    stroke: #b65048;
}

p {
    color: #0c6a28;
}

a:link {
    text-decoration: none;
}

.selectlegendlink h2 {
    background-color: grey;
}

.selectwirkstoff {
    background-color: grey;
}

.selectanlage {
    background-color: grey;
}

.selectgew {
    background-color: grey;
}
