
.ordnung1 {
    position: absolute;
    left: 1%;
    top: 0;
    width: 18%;
    height: 99%;
    background-color: white;
    border-style: solid;
}

.ordnung1 a h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
}

#generationchange {
    position: absolute;
    left: 0;
    top: 95%;
}

#gw_berechnung {
    position: absolute;
    left: 0;
    top: 90%;
}

.ordnung2 {
    position: absolute;
    left: 20%;
    top: 0;
    width: 39%;
    height: 99%;
    background-color: white;
    border-style: solid;
}

#wirkstoff {
    overflow-y: scroll
}

#klaeranlage {
    overflow-y: scroll
}

#gewaesser {
    overflow-y: scroll
}

.ordnung3 {
    position: absolute;
    left: 60%;
    top: 0;
    width: 39%;
    height: 99%;
    background-color: white;
    border-style: solid;
}

#canvas1 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas1_1 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

#vergleichbev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.durchschnitt {
    stroke: rgb(255, 0, 0);
    stroke-width: 2;
}

.durchschnitttext {
    stroke: rgb(255, 0, 0);
}

#canvas2 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 50%;
    height: 60%;
    transform-origin: 0% 20%;
    background-color: white;
}

.abbau1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    transform-origin: 0% 20%;
}

#abbtext {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
}

#canvas2_1 {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50%;
    height: 60%;
    transform-origin: 0% 20%;
    background-color: white;
}

.abbau2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    transform-origin: 0% 20%;
}

#nabbtext {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
}

#canvas2_2 {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
    transform-origin: 0% 20%;
    background-color: white;
}

.abbau3 {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 75%;
    transform-origin: 0% 20%;
}

#vermtext {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 10%;
}

.abbautext {
    margin: 0;
    padding: 0;
    text-align: center;
}

#canvas2_3 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

#nicht_abgebaut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vomKoerper_abgebautbar {
    fill: green;
}

.vomKoerpernicht_abgebautbar {
    fill: red;
}

#canvas3 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

.vergleich1 {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 35%;
    height: 45%;
    transform-origin: 0% 20%;
}

#modtext {
    position: absolute;
    top: 1%;
    left: 10%;
    width: 35%;
    height: 4%;
}

.vergleich2 {
    position: absolute;
    top: 55%;
    left: 10%;
    width: 35%;
    height: 45%;
    transform-origin: 0% 20%;
}

#grzwtext {
    position: absolute;
    top: 51%;
    left: 10%;
    width: 35%;
    height: 4%;
}

.vergleich3 {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 34%;
    height: 20%;
    transform-origin: 0% 20%;
}

#vergltext {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 34%;
    height: 4%;
}

.vergltext {
    margin: 0;
    padding: 0;
}

#canvas3_1 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    transform-origin: 0% 20%;
    background-color: white;
}

#restwert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grenzwert {
    stroke: rgb(255, 0, 0);
    stroke-width: 2;
}

.grenzwerttext {
    stroke: rgb(255, 0, 0);
}

p {
    color: green;
}

a:link {
    text-decoration: none;
}

.selectlegendlink h2 {
    background-color: grey;
}

.selectwirkstoff {
    background-color: grey;
}

.selectanlage {
    background-color: grey;
}

.selectgew {
    background-color: grey;
}

text {
    background-color: white;
}
